services:
  # Your API Service
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app  # This allows you to edit code locally and see changes
  
  # Monitoring Database
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - api

  # Dashboard Visualization
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    depends_on:
      - prometheus