#Core application dependencies

fastapi
uvicorn[standard]

#ML Dependencies for Hugging Face Transformers

transformers

#Required for tensor manipulation and post-processing

numpy

#PyTorch is the underlying framework for many HuggingFace models

torch